body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('img/Image_fond_geometry_dash.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.board {
    display: grid;
    grid-template-columns: repeat(17, 35px);
    grid-template-rows: repeat(17, 35px);
    row-gap: 1px;
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.player {
    width: 30px;
    height: 30px;
    position: absolute;
}

.player1 {
    background-image: url('img/Skin002.png');
    background-size: cover;
}

.player2 {
    background-image: url('img/Skin005.png');
    background-size: cover;
}

.barrier {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
}

.cell.player-cell {
    background-image: url('img/RegularBlock01.png');
    background-size: cover;
}

.cell.barrier-cell {
    border: none;
}

#message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    z-index: 1;
    display: none;
}

#message.visible {
    display: block;
}

.hidden {
    display: none;
}
